#menu {
  width:800px;
  background-color:black;
  height:100px;
  color:white;
  display:table;
}
#menu ul {
  display:table-row;  
  width:100%; 
}
#menu ul li {
  display:table-cell;  
  width:auto; 
  margin:1px;
  border:1px solid white;
  background-color:red;
  text-align:center;
  vertical-align:middle;
}